body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background:url(images/bg.jpg);
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
}
.card{
    background-color:#000000d0;
    padding:2em;
    border-radius:30px;
    width:100%;
    max-width:300px;
    color:white;
}
.search-bar{
    border:none;
    outline:none;
    padding:15px;
    border-radius:30px;
    background-color:#7c7c7c6b;
    color:white;
    width:70%;
    font-size:15px;
}
button{
    border:none;
    border-radius:50%;
    height:3.3em;
    width:3.3em;
    color:white;
    background-color:#7c7c7c6b;
    margin-left:5px;
    cursor: pointer;
    transition:0.1s ease-in-out;
}
button:hover{
    background-color:#7c7c7c2b;
}
.flex{
    display:flex;
    align-items:center;
}
#condition{
    margin-left:5px
}
#temperature{
    font-size: 40px;
}